<!doctype html>
<title>Inf1nitylx's - Passwordicus</title>
<div class=page>
    <h1><a href="/">Passwordicus</a> - is the right password generator for you.</h1>
    <div class=metanav>
        <a href="{{ url_for('show_about') }}">about</a>
        <a href="http://infinitylx.org">Creator</a>
    </div>
    {% for pass in passwords %}
    <div class=flash>{{ pass }}</div>
    {% endfor %}
    <form method="post" action="/generate">
        <label for="lenghtid">Password lenght</label>
        <input name="lenght" id="lenghtid" type="text" />
        <label for="quntityid">Quantity of password</label>
        <input name="quantity" id="quantityid" type="text" />
        <label for="specialid">Include special characters</label>
        <input name="special" id="specialid" type="checkbox" disabled />
        <label for="numbersid">Include numbers</label>
        <input name="numbers" id="numbersid" type="checkbox" disabled />
        <input name="submit" id="sbmt_btm" type="submit" />
    </form>
    {% block body %}{% endblock %}
</div>
